<div class="form-group">
    <div class="col-sm-12">
        <label for="emp1" class="fw-bolder">Department Name:</label>
        <input id="emp1" type="text" class="form-control" [(ngModel)]="DepartmentName" placeholder="Enter Department Name">
    </div>

    <br />
    
    <div class="col-sm-10">
        <label for="emp2" class="fw-bolder" for="exampleCheck1">Active: </label>
        <input id="emp2" type="checkbox" class="form-check-input" style="padding-left: 20px; margin-left:10px;" id="exampleCheck1" [checked]="IsActive" (change)="IsActive = !IsActive">
    </div>
</div>

<div class="row justify-content-center">
    <div class="col col-lg-2">
      </div>
      <div class="col-md-auto">
        <button (click)="addDepartment()" *ngIf="Department.DepartmentId == 0" class="btn btn-primary">
            Add
        </button>
        
        <button (click)="updateDepartment()" *ngIf="Department.DepartmentId != 0" class="btn btn-primary">
            Update
        </button>
      </div>
      <div class="col col-lg-2">
      </div>
</div>


